@import "tailwindcss";


.swiper-pagination-bullet {
  background-color: #555 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #f59e0b !important;
  box-shadow: 0 0 8px #f59e0b !important;
}

